// App.css

body {
  font-family: 'Roboto Condensed', serif;
}
.main {
  display: flex;
  justify-content: center;
}
.color-guide {
  margin: 20px 5px;
}
h5 {
  margin-bottom: 10px;
}
.user {
  padding: 7px 15px;
  border-radius: 4px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  margin: 10px 0;
}
.state {
  margin: 20px 80px;
  justify-content: center;
}
.gameState {
  margin: 20px 40px;
  font-size: 50px;
  justify-content: center;
}

button { 
  width: 100%;
}

.topLeft {
    margin-left: 20px;
    margin-top: 20px;
    height:100vh; 
}

label {
    font-size: 20px;
}

input[type=text] {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 18px;
}

input[type=submit] {
    display: block;
    padding:5px 15px; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.button
{
    font-size: 24px;
    background-color: #008CBA;
    color:white;
}